## Семинар 6:  Тема: Множественная линейная регрессия в `sklearn`.

#### Требуется реализовать модель множественной линейной регрессии целевой переменной от всех показателей и оценить качество регрессии.

In [125]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn import model_selection
import matplotlib.pyplot as plt
from sklearn import metrics

from sklearn.datasets import load_boston

#### Загрузим учебный датасет из соответствующей библиотеки и посмотрим его описание.

In [126]:
data = load_boston()
print(data['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [127]:
X=pd.DataFrame(data['data'])
y=pd.Series(data['target'])
X

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [128]:
#X, y = data['data'], data['target']
#X = np.hstack([X, np.sqrt(X[:, 5:6]), X[:, 6:7] ** 3])

In [129]:
X.shape, y.shape

((506, 13), (506,))

#### Разделим все наблюдения на обучающую и тестовую выборки в соотношении 80-20.

In [130]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X,y,test_size=0.2,random_state=0)

In [131]:
y.shape[0], y_train.shape[0], y_test.shape[0]

(506, 404, 102)

In [132]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
220,0.35809,0.0,6.20,1.0,0.507,6.951,88.5,2.8617,8.0,307.0,17.4,391.70,9.71
71,0.15876,0.0,10.81,0.0,0.413,5.961,17.5,5.2873,4.0,305.0,19.2,376.94,9.88
240,0.11329,30.0,4.93,0.0,0.428,6.897,54.3,6.3361,6.0,300.0,16.6,391.25,11.38
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
417,25.94060,0.0,18.10,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64

####  Обученим модель множественной линейной регрессии целевой переменной от всех показателей.

In [133]:
reg = linear_model.LinearRegression()#cоздаем модель
reg.fit(X_train,y_train)# обучаем

LinearRegression()

In [134]:
y_train_pred=reg.predict(X_train)

#### Выведем коэффициенты линейной регрессии

Посмотрим, какие параметры подобрала модель:

In [135]:
reg.coef_

array([-1.19443447e-01,  4.47799511e-02,  5.48526168e-03,  2.34080361e+00,
       -1.61236043e+01,  3.70870901e+00, -3.12108178e-03, -1.38639737e+00,
        2.44178327e-01, -1.09896366e-02, -1.04592119e+00,  8.11010693e-03,
       -4.92792725e-01])

Свободный коэффициент хранится в атрибуте .intercept_:

In [136]:
reg.intercept_

38.0916949263023

 #### Сделаем предсказание по валидационной выборке

In [137]:
y_pred=reg.predict(X_test)

Создадим таблицу DataFrame, чтобы сопоставить реальные значения с предсказанными.

In [138]:
check_test = pd.DataFrame({
    "y_test": y_test,
    "y_pred": y_pred,
})

check_test.head(10)

     y_test     y_pred
329    22.6  24.889638
371    50.0  23.721411
219    23.0  29.364999
403     8.3  12.122386
78     21.2  21.443823
15     19.9  19.283444
487    20.6  20.496475
340    18.7  21.360993
310    16.1  18.896712
102    18.6  19.928066

#### Оценим качество регрессии

In [139]:
reg.score(X_test, y_pred)

1.0

In [140]:
mse = metrics.mean_squared_error(y_test, y_pred)
print("MSE: {}".format(mse))

MSE: 33.44897999767639

#### Нормализуем данные и обучим модель снова:

In [141]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [142]:
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled)

X_test_scaled = scaler.fit_transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled)

In [143]:
reg.fit(X_train_scaled,y_train)

y_pred = reg.predict(X_test_scaled)

mse1 = metrics.mean_squared_error(y_test, y_pred)

print("MSE после: {}".format(mse1))

MSE после: 35.11642077929317